version: '3.8'

services:
  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8083" # Map REST API port
      - "9090:9090" # Map gRPC port
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/payment_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=2025
    depends_on:
      - database

  database:
    image: postgres:15-alpine
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2025
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
